<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render 'form' %>
      <br>
      <%= link_to "Edit category", category_path(@category), :class => "btn btn-primary" %>
    </div>
  </div>
</div>
