<div class="container">
<h1>Categories</h1>
  <% if can? :create, Category %>
    <p>
        <%= link_to "Add Category", new_category_path, class: 'btn btn-success' %>
    </p>
  <% end %>

  <table class="table table-striped">
  <tr>
    <th>Name</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <% if can? :destroy, category  %>
        <%= link_to 'Delete', place_path(place), method: :delete, data: {confirm: 'Are you sure'} %>
      <% end %>
    </tr>
  <% end %>
</table>
</div>