<%= simple_form_for @place do |f| %>
  <%= f.input :title, label: 'Title' %>
  <%= f.input :description, label: 'Description' %> <br />
  <p>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p> <br />
  <%= f.file_field :picture %><br />
  <%= f.submit 'Create', :class => "btn btn-primary" %>
<% end %>