<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render 'form' %>
      <br>
      <%= link_to "Back", root_path(@place), :class => "btn btn-primary" %>
    </div>
  </div>
</div>