 <p>
    <% if can? :create, Place %>
      <%= link_to "New Place", new_place_path, class: 'btn btn-success' %>
    <% end %>
  </p>
  <table class="table table-striped">

    <tr>
      <th>Title:</th>
      <th>Picture: </th>
      <th>Description:</th>
      <th>Author:</th>
      <th>Category:</th>
      <th>Actions:</th>
    </tr>

    <% @places.each do |place| %>
      <tr>
        <td> <%= link_to "#{place.title}", place_path(place)  %></td>
        <td>

          <% if place.picture.attached? %>
          <%= image_tag place.picture, size: 100 %>
          <% end %>
        </td>
        <td><%= place.description %></td>
        <td><%= link_to "#{place.user.name}", user_path(place.user.id) %></td>
        <td><%= place.category.name %></td>
        <td>
          <%= link_to 'View', place_path(place) %>
          <% if can? :edit, place  %>
            <%= link_to 'Edit', edit_place_path(place) %>
          <% end %>
          <% if can? :destroy, place  %>
            <%= link_to 'Delete', place_path(place), method: :delete,
                        data: {confirm: 'Are you sure'} %>
          <% end %>
        </td>
      </tr>

    <% end %>

  </table>
  <br />
  <div class="pagination pagination-sm">
    <%= will_paginate @places, :container => false %>
  </div>
  <br />
