<div class="container">
  <div class="row">
    <div class="col-8">
      <p id="notice"><%= notice %></p>
      <p>Title: <%= @place.title %></p>
      <p>Picture:
        <% if @place.picture.attached? %>
          <%= image_tag @place.picture, size: 650 %>
        <% end %>
      </p>
      <p>Category: <%= @place.category.name %></p>
      <p>Description: <%= @place.description%></p>
      <p>Author: <%= @place.user.name %></p>
      <br>
      <% if can? :edit, @place %>
        <%= link_to "Edit", edit_place_path(@place) %>
      <% end %>
      <%= link_to "Back", root_path %>

    </div>
  </div>
</div>
